body{
    margin: 0px;
    font-family: 'Sen', sans-serif;
    background-image: url(images/merry.png);
    background-repeat: no-repeat;
    max-width: 100%;
   }
nav,ul,.container,.info,.two,.image,.buttons,.cr-bot,.desc{
    display: flex;
}
nav{
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-between;
    background-color: rgb(11, 48, 117, .85)
}
ul{
    flex-direction: row;
    list-style-type: '🌊';
    align-items: center;
    justify-content: space-around;
    font-size: .5cm;
    width: 45%;
    gap: 1.5cm;
    margin-right: 5%;
}
ul li {
    padding-left: .2cm;
  }
.logo{
    flex: 1;
    max-width: 10%;
    margin-left: 3%;
    padding: .7%;
}
a.link{
    text-decoration: none;
    color: azure;
}
.container{
    justify-content: center;
}
img{
    max-width: 100%;
}
.info{
    margin-top: 3cm;
    position: absolute;
    width: 90%;
    background-color: rgb(16, 94, 221,.8);
    border-radius: 20PX;
}
.one{
    flex: 0 0 50%; /* Ancho del segundo elemento */
    padding: 3%;
}
.two{
    flex: 1;
    padding: 3%;
}
.one h1{
    text-align: center;
    color: white;
}
.one p{
    text-align: justify;
    font-size: 0.5cm;
    color: white;
}
.image{
    background-image: url(/images/straw-hats.jpg);
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.cr-bot{
    justify-content: center;
    padding-top: 1.5%;
}

.char{

    width: 4.7cm;
    height: 4.7cm;
    border: .14cm;
    border-radius: 10%;
    border-color: white;
    border-style: solid;
}
.characters{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.frame{
    margin: 2%;
}
.charname{
    display: flex;
    justify-content: center;
    font-size: .8cm;
    color: white;
    text-shadow: 1cm black;
    padding-top: 1.5%;
}
.container-two{
    margin-top: -3%;
    background-color: #0b3075;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}